<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.w2029.self_separate_trash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"/>
        <activity android:name=".RecyclingActivity"/>
        <activity android:name=".EtcMenuActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".CanActivity"/>
        <activity android:name=".StyrofoamActivity"/>
        <activity android:name=".PaperActivity"/>
        <activity android:name=".Planstic2Activity"/>
        <activity android:name=".PlansticActivity"/>
        <activity android:name=".FoodActivity"/>
        <activity android:name=".GlassActivity"/>
        <activity android:name=".DressActivity"/>
        <activity android:name=".TrashActivity"/>
        <activity android:name=".InsertActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".JoinActivity"/>
    </application>
        

</manifest>